@font-face {
  font-family: 'arcade-classic';
  src: url('arcadeClassic/ArcadeClassic.woff2') format('woff2'),
  url('arcadeClassic/ArcadeClassic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'atari';
  src: url('atari/SFAtarianSystem.woff2') format('woff2'),
  url('atari/SFAtarianSystem.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

