<mat-form-field style="width: 100%">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Warzone" #input>
</mat-form-field>
<table #dynamicTable mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
    <th mat-header-cell *matHeaderCellDef [mat-sort-header]="column!='edit' ? column : null"
        [disabled]=" column=='edit' ? true : false "
        i18n="@@tableHeader">{column, select, position {position}}</th>
    <td mat-cell *matCellDef="let element">
      <mat-icon *ngIf="column === 'icon'" style="width: 32px; height: 32px" svgIcon="{{element[column]}}"></mat-icon>
      <mat-icon *ngIf="isBoolean(element[column])" [ngStyle]="{'color': this.booleanIconColor(element[column])}">{{this.booleanIcon(element[column])}}</mat-icon>
      <button *ngIf="column === 'edit'" mat-button (click)="callback.emit({data: element})"><mat-icon>edit</mat-icon></button>
      <span *ngIf="isDate(element[column], column)" style="align-items: center">{{element[column] | date:'medium'}}</span>
      <span *ngIf="printField(element[column], column)" style="align-items: center">{{element[column]}}</span>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
