table {
  width: 100%;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

.mat-header-cell {
  text-align: center;
}

.mat-cell {
  text-align: center;
}

td, th {
  width: 15%;
}
