<div class="mat-app-background">
  <mat-toolbar
    style="border-bottom: solid;border-color: rgba(180,180,180,0.95);height: 80px;border-width: 2px; display: flex; align-items: center;"
    color="primary">
    <div style="display: flex; align-items: center">
      <button mat-button routerLink="/home">
        <img *ngIf="className == 'darkMode'" style="width: 300px" src="../assets/images/logo_full_orange.png">
        <img *ngIf="className !== 'darkMode'" style="width: 300px" src="../assets/images/logo_full_white.png">
      </button>

      <button mat-button routerLink="/register">
        <mat-icon style="width: 30px; padding-right: 2px; padding-top: 10px; fill: white" [inline]="true" svgIcon="edit"></mat-icon>
        Cadastros
      </button>
    </div>
    <div style="display:flex;justify-content:space-evenly; margin-left: auto; align-items: center;">
      <span *ngIf="className == 'darkMode'" style="margin-right: 5px" class="material-icons">dark_mode</span>
      <span *ngIf="className !== 'darkMode'" style="margin-right: 5px" class="material-icons">light_mode</span>
      <mat-slide-toggle [formControl]="toggleControl" class="mr-8"></mat-slide-toggle>
    </div>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>
