// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
@import 'assets/fonts/_fonts.scss';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-primary: mat-palette($mat-grey, 700, 600, 800);
$angular-accent: mat-palette($mat-orange, 700, 600, 700);

// The warn palette is optional (defaults to red).
$angular-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$angular-default-theme: mat-light-theme(
(
color: (
primary: mat-palette($mat-deep-orange, 600, 700, 900),
          accent: $angular-accent,
                   warn: $angular-warn,
),
)
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($angular-default-theme);
$my-blue: (
  50: #7fdddd,
  100: #7faedd,
  200: #7f7fdd,
  300: #7faedd,
  400: #7faedd,
  500: #7faedd,
  600: #7faedd,
  700: #7faedd,
  800: #7faedd,
  900: #7faedd,
  A100: #7faedd,
  A200: #7faedd,
  A400: #7faedd,
  A700: #7faedd,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);
// below creates a primary palette with three shades of blue
$my-primary: mat-palette($my-blue, 100, 50, 200);

$angular-dark-theme: mat-dark-theme(
(
color: (
primary: mat-palette($mat-grey, 700, 600, 800),
          accent:  mat-palette($mat-orange, 700, 600, 700),
                   warn: $angular-warn,
),
)
);

.darkMode {
  @include angular-material-color($angular-dark-theme);
}

html,
body {
  height: 100%;
  margin: 0;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-app-background {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.big-icon {
  width: 140px !important;
  padding: 10px !important;
}

.mat-icon.mat-icon-inline {
  fill: black;
}

.table-name {
  color: #F4511E;
  font-size: 100px;
  font-family: league-gothic,sans-serif;
  font-weight: 400;
  font-style: italic;
}

mat-header-cell, mat-cell {
  justify-content: center !important;
}

.mat-menu-panel {
  background: #424242;
}

button {
  color: mat-color($angular-dark-theme);
}
.darkMode .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #F4511E;

}
