<block-ui i18n-message message="LOADING">
  <mat-tab-group dynamicHeight (selectedTabChange)="changeTable($event)" mat-align-tabs="center">
    <mat-tab label="GAME">
      <ng-template mat-tab-label>
        <mat-icon style="width: 40px; padding-right: 10px" [inline]="true" svgIcon="game-console"></mat-icon>
        <span i18n>GAME RANK TAB</span>
      </ng-template>
      <div style="display: flex; align-items: center;">
        <mat-icon class="big-icon" [inline]="true" svgIcon="game-console"></mat-icon>
        <span class="table-name">Ranking de jogos</span>
      </div>
      <div class="col-12 pt-2" [ngClass]='(rankings !== undefined && rankings.length > 0) ? "visible": "hidden"'>
        <app-dynamic-table [data]="rankings" [ignoredColumns]="ignoredColumns"></app-dynamic-table>
      </div>
      <div style="display: flex; align-items: center; justify-content: center; padding-top: 5%"
           *ngIf="(rankings !== undefined && rankings.length == 0)">
        <mat-icon class="big-icon" [inline]="true" svgIcon="warning"></mat-icon>
        <h1 i18n>DATA_NOT_AVAILABLE</h1>
      </div>
    </mat-tab>
    <mat-tab label="GAME_MATCH">
      <ng-template mat-tab-label>
        <mat-icon style="width: 40px; padding-right: 10px" [inline]="true" svgIcon="ranking"></mat-icon>
        <span i18n>GAME MATCH TAB</span>
      </ng-template>
      <div style="display: flex; align-items: center">
        <div style="display: flex; align-items: center;" *ngIf="gameSelected !== undefined">
          <mat-icon class="big-icon" [inline]="true" svgIcon="{{gameSelected.icon}}"></mat-icon>
          <span class="table-name" id="game-name">{{gameSelected.name}}</span>
        </div>
        <div
          style="display:flex;justify-content:space-evenly; margin-left: auto; align-items: center;min-height: 150px">
          <mat-form-field appearance="fill" style="margin-right: 30px">
            <mat-label>Jogo</mat-label>
            <mat-select [formControl]="gameSelectControl" [(ngModel)]="gameSelected" required
                        (selectionChange)="selectGame($event.value)">
              <mat-option disabled>Selecione um jogo</mat-option>
              <mat-option *ngFor="let game of games" [value]="game">
                {{game.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="gameSelectControl.hasError('required')">Please choose an animal</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col-12 pt-2" [hidden]="(rankings !== undefined && rankings.length === 0)">
        <app-dynamic-table [data]="rankings" [ignoredColumns]="ignoredColumns"></app-dynamic-table>
      </div>
    </mat-tab>
    <mat-tab label="USERS">
      <ng-template mat-tab-label>
        <mat-icon style="width: 40px; padding-right: 10px" [inline]="true" svgIcon="score"></mat-icon>
        <span i18n>USERS RANK TAB</span>
      </ng-template>
      <div style="display: flex; align-items: center;">
        <mat-icon class="big-icon" [inline]="true" svgIcon="score"></mat-icon>
        <span class="table-name">Ranking de usuários</span>
      </div>
      <div class="col-12 pt-2" [ngClass]='(rankings !== undefined && rankings.length > 0) ? "visible": "hidden"'>
        <app-dynamic-table [data]="rankings" [ignoredColumns]="ignoredColumns"></app-dynamic-table>
      </div>
      <div style="display: flex; align-items: center; justify-content: center; padding-top: 5%"
           *ngIf="(rankings !== undefined && rankings.length == 0)">
        <mat-icon class="big-icon" [inline]="true" svgIcon="warning"></mat-icon>
        <h1 i18n>DATA_NOT_AVAILABLE</h1>
      </div>
    </mat-tab>
  </mat-tab-group>
</block-ui>
