<block-ui i18n-message message="LOADING">
  <mat-tab-group dynamicHeight (selectedTabChange)="changeTable($event.tab.textLabel)" mat-align-tabs="center">
    <mat-tab label="GAME">
      <ng-template mat-tab-label>
        <mat-icon style="width: 40px; padding-right: 10px" [inline]="true" svgIcon="game-console"></mat-icon>
        <span i18n>GAMES</span>
      </ng-template>
      <div style="display: flex; align-items: baseline;">
        <mat-icon class="big-icon" [inline]="true" svgIcon="game-console"></mat-icon>
        <span class="table-name">GAMES REGISTER</span>
        <div style="margin-left: auto">
          <button mat-fab style="background-color: #F4511E;color: white; margin-right: 40px" (click)="openDialog($event)">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
      <div class="col-12 pt-2" [hidden]="(data !== undefined && data.length === 0)">
        <app-dynamic-table #gameRegister id="game-register" [data]="data" [ignoredColumns]="[]" [hasCallback]="true" (callback)="openDialog($event)"></app-dynamic-table>
      </div>
      <div style="display: flex; align-items: center; justify-content: center; padding-top: 5%" [hidden]="(data === undefined || data.length !== 0)">
        <mat-icon class="big-icon" [inline]="true" svgIcon="warning"></mat-icon>
        <h1 i18n>DATA_NOT_AVAILABLE</h1>
      </div>
    </mat-tab>
    <mat-tab label="GAME_MATCH">
      <ng-template mat-tab-label>
        <mat-icon style="width: 40px; padding-right: 10px" [inline]="true" svgIcon="scoreboard"></mat-icon>
        <span i18n>MATCHES</span>
      </ng-template>
      <div style="display: flex; align-items: baseline">
        <div style="align-items: baseline;" >
          <mat-icon class="big-icon" [inline]="true" svgIcon="score"></mat-icon>
          <span class="table-name">MATCH REGISTER</span>
        </div>
        <div
          style="display:flex;justify-content:space-evenly; margin-left: auto; align-items: center">
          <mat-form-field appearance="fill" style="margin-right: 30px">
            <mat-label>Jogo</mat-label>
            <mat-select [formControl]="gameSelectControl" [(ngModel)]="gameSelected" required
                        (selectionChange)="selectGame($event.value)">
              <mat-option disabled>Selecione um jogo</mat-option>
              <mat-option *ngFor="let game of games" [value]="game">
                {{game.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="gameSelectControl.hasError('required')">Please choose an animal</mat-error>
          </mat-form-field>
          <div *ngIf="gameSelected" style="margin-left: auto">
            <button mat-fab style="background-color: #F4511E;color: white; margin-right: 40px" (click)="openDialog($event)">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="col-12 pt-2" [hidden]="(data !== undefined && data.length === 0)">
        <app-dynamic-table #matchRegister id="match-register" [data]="data" [ignoredColumns]="['userScores']" [hasCallback]="true" (callback)="openDialog($event)"></app-dynamic-table>
      </div>
      <div style="display: flex; align-items: center; justify-content: center; padding-top: 5%" [hidden]="(data === undefined || data.length !== 0 || gameSelected === null)">
        <mat-icon class="big-icon" [inline]="true" svgIcon="warning"></mat-icon>
        <h1 i18n>DATA_NOT_AVAILABLE</h1>
      </div>
    </mat-tab>
    <mat-tab label="USERS">
      <ng-template mat-tab-label>
        <mat-icon style="width: 40px; padding-right: 10px" [inline]="true" svgIcon="user"></mat-icon>
        <span i18n>USERS</span>
      </ng-template>
      <div style="display: flex; align-items: baseline;">
        <mat-icon class="big-icon" [inline]="true" svgIcon="user"></mat-icon>
        <span class="table-name">USER REGISTER</span>
        <div style="margin-left: auto">
          <button mat-fab style="background-color: #F4511E;color: white; margin-right: 40px" (click)="openDialog($event)">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
      <div class="col-12 pt-2" [hidden]="(data !== undefined && data.length === 0)">
        <app-dynamic-table #userRegister id="user-register" [data]="data" [ignoredColumns]="[]" [hasCallback]="true" (callback)="openDialog($event)"></app-dynamic-table>
      </div>
      <div style="display: flex; align-items: center; justify-content: center; padding-top: 5%" [hidden]="(data === undefined || data.length !== 0)">
        <mat-icon class="big-icon" [inline]="true" svgIcon="warning"></mat-icon>
        <h1 i18n>DATA_NOT_AVAILABLE</h1>
      </div>
    </mat-tab>
  </mat-tab-group>
</block-ui>
